:root {
    --primary-color: #A78BFA;
    --secondary-color: #6D28D9;
}

body {
    background-color: var(--primary-color);
}

.nav {
    background-color: var(--secondary-color);
    padding: 1rem;
    margin: auto;
    font-size: xx-large;
}

.inactive, .active {
    width: 300px;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
    color: wheat;
    background-color: var(--primary-color);
    margin-left: 4rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    padding: 1rem;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.angle-input {
    width: 30%;
    margin: auto;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: wheat;
    font-size: x-large;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
}

#check-button {
    width: 15%;
    margin: auto;
    padding: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color: var(--secondary-color);
    color: wheat;
    font-size: x-large;
    font-weight: 900;
}

.angle{
    font-weight: 900;
}

.questions {
    font-size: x-large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}

.options {
    font-size: x-large;
    font-weight: 700;
    color: var(--secondary-color);
}

#submit-answer-btn {
    /* width: 15%; */
    margin-left: 53rem;
    margin-top: 2rem;
    padding: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color: var(--secondary-color);
    color: wheat;
    font-size: x-large;
    font-weight: 900;
}

.inputs {
    width: 15%;
    border: 2px solid black;
    color: wheat;
    background-color: var(--secondary-color);
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    margin: auto;
}

#check-hypotenuse-btn {
    /* width: 15%; */
    margin-left: 53rem;
    margin-top: 2rem;
    padding: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color: var(--secondary-color);
    color: wheat;
    font-size: x-large;
    font-weight: 900;
}